body{
    background-image: url('D:\R PROJECT\sanjayd\src\bgimg1.png') ;
    background-size: cover;
    text-align: center;
}
button{
    background-image: linear-gradient(white,grey,rgb(173, 174, 146));
    border-radius: 15%;
    color: rgb(0, 0, 0);
    margin:10% auto;
    font-size: 200%;
    border-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover{
    box-shadow: 100ch;
    
}
.l1{
    
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 18px;
}
.l2{
    opacity: 30%;
    height: 60px;
    width: 65px;
    margin-top: 20px;
    margin-left: 18px;
}
h1{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-shadow: azure;
}